# Project name to separate multiple bitrixdock instances
COMPOSE_PROJECT_NAME=project_name

PROJECT_PORT=8085
PROJECT_PORT_SSL=499

DB_PORT=3325

# PHP version settings. Allowed value is php56, php71, php73, php74 or php80.
PHP_VERSION=php82

# PHP on server
PHP_NUMBER=8.2

# Web server type. Allowed value is apache or nginx.
WEB_SERVER_TYPE=nginx

# MySQL settings. Allowed value is mysql or percona.
DB_SERVER_TYPE=mysql
MYSQL_DATABASE=bitrix
MYSQL_USER=bitrix
MYSQL_PASSWORD=123
MYSQL_ROOT_PASSWORD=123

# Network
INTERFACE=0.0.0.0

# Subnet base
SUBNET_BASE=172.16.251

# Site path
SITE_PATH=/var/www/htdocs
MSMTP_ACCOUNT=default