[mysqld]
    # Bitrix
    init_connect=‘SET collation_connection = utf8_unicode_ci’
    character-set-server = utf8
    sql-mode=""
    collation-server = utf8_unicode_ci
    explicit_defaults_for_timestamp = 1
    transaction-isolation = "READ-COMMITTED"

    #Глобальные буферы
    #(key_buffer_size + tmp_table_size + innodb_buffer_pool_size + innodb_log_buffer_size + query_cache_size)

    #key_buffer_size = 10M
    #tmp_table_size = 64M
    #innodb_buffer_pool_size = 2G
    #innodb_log_buffer_size = 32M
    #query_cache_size   = 32M

   # MyISAM
    key_buffer_size   = 10M

   #TABLE cache
    open_files_limit  = 848576
    table_open_cache  = 2000
    table_definition_cache  = 1000

   # Temp Tables
    tmp_table_size        = 64M
    max_heap_table_size   = 64M

   # Timeouts
    lock_wait_timeout   = 100
    wait_timeout    = 300
    innodb_lock_wait_timeout = 30
    max_execution_time = 60000

   # QC - 5.7 only
    query_cache_limit  = 1M
    query_cache_size   = 32M
    query_cache_type   = 1

   # Buffers
    join_buffer_size = 1M
    read_rnd_buffer_size = 1M
    sort_buffer_size  = 1M
    bulk_insert_buffer_size = 16M

   # InnoDB
    innodb_flush_method = O_DIRECT
    innodb_buffer_pool_size = 2G
    innodb_log_file_size = 64M
    innodb_log_buffer_size = 32M

   # Journal
    sync_binlog = 0
    innodb_flush_log_at_trx_commit = 0
[client]
    default-character-set = utf8